/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 20, 2015, 10:49:58 PM
    Author     : pedro
*/

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #2C3E50;
}

.container .text-muted {
  margin: 20px 0;
  color: white;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}